<h2>Music Found!</h2>
<p>Artist: <%= @album.artist.name() %> </p>
<p>Title: <%= @album.title() %></p>
<p>Genre: <%= @album.genre() %></p>
<p>Cost Price: $<%= @album.cost_price %></p>
<p>Retail Price: $<%= @album.retail_price %></p>
<p>Stock Level: <%= @album.stock_level %> units</p>
